<div class="wrap wrap--aw">
	<div class="aw-notification"></div>

	<h1>Add New Location</h1>

	<div class="container" id="windscreens">
		<div class="content">
			<div class="form">
				<div class="section-header">
					<h4>Location Information</h4>
				</div>

				<p>
					<label for="title">Name</label>
					<input type="text" name="title" id="aw_name" placeholder="Enter a Name for the Location" value="">
				</p>
				<p>
					<label for="description">Description</label>
					<textarea name="description" id="aw_description" placeholder="Enter a Description"></textarea>
				</p>
				<p>
					<label for="phone">Telephone</label>
					<input type="tel" name="phone" id="aw_number" placeholder="Enter a Telephone Number">
				</p>
				<p>
					<label for="location">Location</label>
					<input type="text" name="location" id="aw_location" placeholder="Enter a Post Code">
					<div id="map"></div>
					<input type="hidden" name="aw_lat" id="aw_lat">
					<input type="hidden" name="aw_lng" id="aw_lng">
				</p>
				<p>
					<label for="radius">Radius</label>
					<input type="number" name="radius" id="aw_radius" placeholder="Enter a Delivery Radius" value="5">
				</p>
			</div>
		</div>

		<aside class="sidebar">
			<div>
				<div class="section-header">
					<h4>Save?</h4>
				</div>

				<p>{{ button.save | raw }}</p>
			</div>
		</aside>
	</div>
</div>