<div class="wrap wrap--as">
	<div class="as-notification"></div>

	<header>
		<h1>Add New Location</h1>
	</header>

	<form class="container" id="locations" action="" method="POST">
		<div class="content">
			<div class="section-header">
				<h4>Location Information</h4>
			</div>

			<p>
				<label for="title">Name</label>
				<input type="text" name="title" placeholder="Enter a Name for the Location" value="">
			</p>
			<p>
				<label for="description">Description</label>
				<textarea name="description" placeholder="Enter a Description"></textarea>
			</p>
			<p>
				<label for="location">Location</label>
				<input type="text" name="location" id="as_location" placeholder="Enter a Post Code">
				<div id="map"></div>
				<input type="hidden" name="as_lat" id="as_lat">
				<input type="hidden" name="as_lng" id="as_lng">
			</p>
			<p>
				<label for="radius">Radius</label>
				<input type="number" name="radius" placeholder="Enter a Delivery Radius" value="5">
			</p>

			<input type="hidden" name="action" value="location_add">
		</div>

		<aside class="sidebar">
			<div class="sidebar__item">
				<div class="section-header">
					<h4>Save?</h4>
				</div>

				<p><button type="submit" class="button">Save</button></p>
			</div>
		</aside>
	</form>
</div>