{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Add New Skip</h1>
	</header>
	
	<form class="container ad-form" action="" method="POST" enctype="multipart/form-data">
		<div class="content">
			<div class="ad-form-row ad-form-row--inline">
				<label for="title">Name</label>
				<div>
					<input type="text" name="title" placeholder="Enter a Name">
				</div>
			</div>

			<div class="ad-form-row ad-form-row--inline">
				<label for="width">Width</label>
				
				<div>
					<input type="text" name="width" placeholder="Enter a Width">
				</div>					
			</div>

			<div class="ad-form-row ad-form-row--inline">
				<label for="height">Height</label>				
				<div>
					<input type="text" name="height" placeholder="Enter a Height">
				</div>
			</div>

			<div class="ad-form-row ad-form-row--inline">
				<label for="length">Length</label>			
				<div>
					<input type="text" name="length" placeholder="Enter a Length">
				</div>
			</div>

			<div class="ad-form-row ad-form-row--inline">
				<label for="capacity">Capacity</label>			
				<div>
					<input type="text" name="capacity" placeholder="Enter a Capacity">
				</div>
			</div>

			<div class="ad-form-row ad-form-row--inline">
				<label for="price">Price</label>		
				<div>
					<input type="text" name="price" placeholder="Enter a price">
				</div>
			</div>

			<div class="ad-form-row ad-form-row--inline">
				<label for="image">Image</label>
				<div>
					<input type="file" name="uploadimage" id="uploadimage">
				</div>
			</div>

			<div class="ad-form-row ad-form-row--inline">
				<label for="description">Description</label>		
				<div>
					<textarea name="description" placeholder="Enter a Description"></textarea>
				</div>
			</div>

			<input type="hidden" name="action" value="skip_add">
			
			<div class="ad-form-row ad-form-row--inline">
				<label>&nbsp;</label>
				<div>
					<button type="submit" class="ad-button ad-button--orange">Add Skip</button>
				</div>
			</div>
		</div>	
	</form>

{% include 'admin/partials/footer.twig' %}
