<h1>Location Search</h1>

<form action="" method="post" id="as_form">
	<p class="as_warning" style="display: none;">Please select a valid location from the drop down before submitting</p>

	<p>
		<label for="autcomplete">Enter Location</label>
		<input type="text" name="autocomplete" id="as_autocomplete" palceholder="Enter your Postcode">
	</p>

	<input type="hidden" name="lat" id="as_lat">
	<input type="hidden" name="lng" id="as_lng">
	<p><button type="submit" class="button" id="as_submit" disabled>Submit</button></p>
</form>
