<div class="wrap wrap--as">
	<header>
		<h1>Skip Hire</h1>
	</header>

	<p><a href="#" class="ad-button">Button</a></p> <br>
	<p><a href="#" class="ad-button ad-button--orange">Button</a></p> <br>
	<p><a href="#" class="ad-button ad-button--grey">Button</a></p> <br>

	<div class="container dashboard">
		<div class="widget">
			<div class="section-header">
				Revenue <span>Last 31 Days</span>
			</div>
			<p>&pound;1,097</p>
		</div>

		<div class="widget">
			<div class="section-header">
				Revenue <span>Lifetime</span>
			</div>
			<p>&pound;12,012</p>
		</div>

		<div class="widget">
			<div class="section-header">
				Orders <span>Last 31 Days</span>
			</div>
			<p>31</p>
		</div>

		<div class="widget">
			<div class="section-header">
				Orders <span>Lifetime</span>
			</div>
			<p>457</p>
		</div>
	</div>

	<div class="container dashboard" id="graph">
		<div class="content">
			<div class="section-header">
				Orders Within The Last 7 Days
			</div>
			<canvas id="canvas" style="height: 340px; width: 960px;" height="340"></canvas>
		</div>
	</div>
</div>