<div class="wrap wrap--as">
	<header>
		<h1>Skip Hire</h1>
	</header>

	<div class="container" id="dashboard">
		<div class="content">
			<canvas id="canvas" style="height: 340px; width: 960px;" height="340"></canvas>
		</div>
	</div>
</div>