{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Settings</h1>
	</header>

	<form class="ad-grid ad-form" action="" method="POST">
		<div class="content ad-box">
			<div class="section-header">
				<h4>Settings</h4>
			</div>

			<p>
				<label for="gmaps_api">Google Maps API Key</label>
				<input type="text" name="gmaps_api" value="{{ options.gmaps_api }}">
			</p>
		
			<input type="hidden" name="action" value="settings_save">
		</div>	

		<aside class="sidebar">
			<div class="sidebar__item ad-box">
				<div class="section-header">
					<h4>Update</h4>
				</div>

				<p><button type="submit" class="ad-button">Save</button></p>
			</div>
		</aside>
	</form>

{% include 'admin/partials/footer.twig' %}
