{% include 'partials/header.twig' %}

	<header class="atk-header">
		<h1>Add New Location</h1>
	</header>

	<form class="atk-grid atk-form" action="" method="POST">
		<div class="content">
			<div class="atk-form-row atk-form-row--inline">
				<label for="title">Name</label>
				<div><input type="text" name="title" placeholder="Enter a Name for the Location" value=""></div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="description">Description</label>
				<div><textarea name="description" placeholder="Enter a Description"></textarea></div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="location">Location</label>
				<div>
					<input type="text" name="location" id="as_location" placeholder="Enter a Post Code">
				</div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="delivery_fee">Delivery Fee</label>
				<div><input type="number" name="delivery_fee" placeholder="Apply Delivery Fee?" value="0.00"></div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="radius">Radius</label>
				<div><input type="number" name="radius" placeholder="Enter a Delivery Radius" value="5"></div>
			</div>

			<input type="hidden" name="action" value="location_add">
			<input type="hidden" name="as_lat" id="as_lat">
			<input type="hidden" name="as_lng" id="as_lng">

			<div class="atk-form-row atk-form-row--inline">
				<label>&nbsp;</label>
				<div><button type="submit" class="atk-button atk-button--orange">Save</button></div>
			</div>
		</div>
	</form>
	
{% include 'partials/footer.twig' %}
