@import 'jquery-ui';

.ash-notification {
	padding: 10px 20px;
	margin-bottom: 20px;
	background: #212121;
	color: #fff;
	display: none;

	p {
		font-size: 0.95em;
	}

	p:last-child {
		margin-bottom: 0;
	}

	&.block {
		display: block;
	}

	&.success {
		border: 1px solid #D3E9C7;
		background: #DCF0D9;
		color: #2C7640;
	}

	&.notify {
		border: 1px solid #B5E8F1;
		background: #D6EDF7;
		color: #37708E;
	}

	&.error {
		border: 1px solid #EFCCD1;
		background: #F5DEDE;
		color: #B24450;
	}

	&.warning {
		border: 1px solid #FCEBCD;
		background: #FCF8E4;
		color: #8D6D3D;
	}
}

.ash-skips-holder {
	.ash-skip__item {
		margin-bottom: 1em;
		display: flex;
	}

	.ash-skip__content {
		width: 100%;
	}

	.ash-skip__content--float {
		width: 60%;
		padding-left: 0.5em;
	}

	.ash-skip__image {
		width: 40%;
		padding-right: 0.5em;
	}

	.ask-skip__meta {
		span {
			width: 49%;
			display: inline-block;
			margin-bottom: 10px;
		}
	}
}

.ash-form {
	fieldset {
		border: 0;
		padding: 0;
		margin-bottom: 1.5em;
	}
	
	fieldset > div {
		display: flex;	
        flex-flow: wrap row;
		justify-content: space-between;
	}

	legend {
		font-weight: bold;
		margin-bottom: 1em;
		font-size: 1.3em;
	}

	div {
		margin-bottom: 1em;
		width: 100%;		
	}

	.ash-field--half {
		width: 49%;
	}

	select {
		width: 100%;
	}

	textarea {
		min-height: 120px;
	}
}



.ash-label--inline {
	display: inline-block;
	font-weight: normal;
	
	& + * {
		margin-left: 20px;
	}
}

.ash-table--left {
	th {
		width: 200px;
	}
}

.as-notification {
	padding: 15px;
	margin-bottom: 30px;
	
	&-warning {
		background: #F2DEDE;
		border-color: #EBCCD1 !important;
		color: #A94442;
	}

	&.hidden {
		display: none;
	}

	p {
		margin-bottom: 0;
	}
}


// validation
.parsley-error {
	background: #F2DEDE !important;
	border-color: #EBCCD1 !important;
}

.parsley-errors-list {
	list-style: none;
	padding: 5px;
	color: #A94442;
	font-weight: 600;
	font-style: italic;
	font-size: 14px;
	margin: 0;
}