@import "icons";
@import "tables";

$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

#toplevel_page_adskip ul.wp-submenu {
	li:nth-child(3),
	li:nth-child(4),
	li:nth-child(6),
	li:nth-child(7) {
    	display: none;
	}
}

.as-notification {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #212121;
    color: #fff;
    display: none;
    &.success {
        background: green;
    }
    &.error {
        background: red;
    }
    &.warning {
        background: orange;
    }
}

.as-pagination {
    text-align: center;
    margin-top: 20px;

    span, a {
        display: inline-block;
        padding: 5px;
    }
}

.wrap--as {
    position: relative;

    header {
        padding: 20px 0;
        position: relative;
        margin-bottom: 20px;

        &:after {
            clear: both; display: table; content: '';
        }

        h1 {
            float: left;
        }
        
        .action {
            margin-top: 7px;
            float: right;
        }
    }
}

.wrap--as .container {
    position: relative;
    display: flex;
    flex-flow: row;
    * {
        box-sizing: border-box;
    }
    .content {
        width: 100%;
    }
    .sidebar {
        width: 300px;
        margin-left: 40px;
    }
    .sidebar__item,
    .content {
        background: #fff;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: $box-shadow;

        .section-header {
            margin: -20px -20px 20px -20px;
            padding: 14px 20px;
            font-weight: $table-header-font-weight;
            color: #757575;
            border-bottom: 1px solid rgba(0,0,0,.12);
            * {
                margin: 0;
            }
        }
    }
}

.wrap--as {
    h1 {
        margin-bottom: 20px;
    }
    #map {
        height: 350px;
        margin-top: -15px;
        margin-left: 1px;
        margin-right: -1px;
		margin-bottom: 20px;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    }
}

.wrap--as form,
.wrap--as .form {
    width: 100%;

    label {
        display: block;
        width: 100%;
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 15px;
    }
    input,
    select,
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 140px;
    }
}