.atk-header {
    position: relative;
    margin-bottom: 20px;
    &:after {
        clear: both;
        display: table;
        content: '';
    }
    h1 {
        float: left;
    }
    .action {
        margin-top: 7px;
        float: right;
    }
}