$table-header-font-weight : 600;
$table-header-font-color : #757575;
$table-cell-padding : 1.2rem;
$table-condensed-cell-padding : $table-cell-padding/2;
$table-bg : #fff;
$table-bg-hover : rgba(0, 0, 0, .12);
$table-bg-active : $table-bg-hover;
$table-border-color : #E2E2E2;
$button-color: #757575;
$button-border: #ccc;
$button-bg: #DCDBDC;
$button-font-size: 14px;
$button-padding: 8px 20px;