#adtrak-settings h1 {
    margin-bottom: 0 !important;
    font-size: 45px;
    line-height: 1.4;
    font-weight: 300;
    position: relative;
}

#adtrak-settings h1:after {
    clear: both;
    display: table;
}

#adtrak-settings h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 30px 0;
}

#adtrak-settings .submit {
    margin-bottom: 0;
    padding: 0;
}

#adtrak-settings .nav-tab-wrapper {
    margin: 0 0 0 0 !important;
    padding: 0 !important;
    background-color: #2E2626 !important;
    box-sizing: border-box;
    border: 0;
}

#adtrak-settings .nav-tab-wrapper a, #adtrak-settings .nav-tab-wrapper a:visited {
    color: white;
    font-weight: 400 !important;
    transition: all 0.3s ease-in-out;
    padding: 15px 20px 15px 20px !important;
}

#adtrak-settings .nav-tab {
    background-color: #2E2626 !important;
    border: 0;
}

#adtrak-settings .nav-tab-active {
    background: white !important;
    color: #F15F48 !important;
}

#adtrak-settings .nav-tab-wrapper a:hover {
    color: #F15F48 !important;
}

#adtrak-settings .nav-tab-content {
    padding: 20px !important;
    border: 1px solid white !important;
    background-color: #fff;
}

#adtrak-settings .nav-tab-content h2 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 1px solid #f15f48;
    color: #f15f48;
    padding-bottom: 10px;
}

#adtrak-settings input[type="text"] {
    width: 100% !important;
    padding: 10px;
}

#adtrak-settings input[type="text"].image {
    width: 50% !important;
    margin-right: 10px;
}

#adtrak-settings textarea {
    width: 100% !important;
    padding: 10px;
    height: 120px;
}

#adtrak-settings .admin-image {
    max-height: 80px;
    width: auto;
}

#adtrak-settings .form-table .field-desc {
    font-size: 12px;
    font-style: oblique;
    opacity: 0.5;
    margin-left: 5px;
}

#adtrak-settings .feed-enabled {
    position: relative;
}

#adtrak-settings .feed-enabled::after {
    content: '';
    border: solid;
    border-color: #7ad03a transparent;
    width: 0px;
    position: absolute;
    border-width: 0px 6px 6px 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    right: -5px;
}

#adtrak-settings .form-table.maintenance td {
    padding: 0;
}

#adtrak-settings .form-table.maintenance th {
    padding-top: 25px;
}

#adtrak-options {
    width: 800px;
}

#adtrak-options .sa-section {
    margin-bottom: 30px;
}

#adtrak-options .spinner {
    float: none;
    margin-top: 5px;
}

#adtrak-options .message {
    margin-top: 16px;
}

#adtrak-options .message .error {
    color: red;
    margin-top: 16px;
}

@media(min-width: 700px) {
    .adtrak-theme-right-col, .adtrak-theme-left-col {
        float: left;
    }
    .adtrak-theme-right-col {
        width: 22%;
        margin-left: 2%;
    }
    .adtrak-theme-left-col {
        width: 76%;
    }
}

.adtrak-theme-left-col {
    margin-bottom: 30px;
}

.adtrak-theme-right-col, .adtrak-theme-left-col {
    margin-top: 30px;
}
