{% include 'partials/header.twig' %}

	<header class="ad-header">
		<h1>Add New Coupon</h1>
	</header>

	<form class="atk-grid atk-form" action="" method="POST">
		<div class="content">
			<div class="atk-form-row atk-form-row--inline">
				<label for="code">Code</label>
				<div>
					<input type="text" name="code" placeholder="Enter a Code Name" value="">
				</div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="amount">Amount</label>
				<div>
					<input type="number" name="amount" placeholder="Enter an Amount" value="">
				</div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="type">Type</label>
				<div>
					<select name="type">
						<option value="">Pick a Type</option>
						<option value="percentage">Percentage</option>
						<option value="flat">Flat Rate</option>
					</select>
				</div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="starts">Start Date</label>
				<div>
					<input type="date" name="starts" placeholder="dd/mm/yyyy" value="">
				</div>
			</div>

			<div class="atk-form-row atk-form-row--inline">
				<label for="expires">Expiry Date</label>
				<div>
					<input type="date" name="expires" placeholder="dd/mm/yyyy" value="">
				</div>
			</div>
	
			<input type="hidden" name="action" value="coupon_add">

			<div class="atk-form-row atk-form-row--inline">
				<label>&nbsp;</label>
				<div><button type="submit" class="atk-button atk-button--orange">Save</button></div>
			</div>
		</div>
	</form>

{% include 'partials/footer.twig' %}
