{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Add New Coupon</h1>
	</header>

	<form class="ad-form" id="coupons" action="" method="POST">
		<div class="section-header">
			<h4>Coupon Information</h4>
		</div>

		<p>
			<label for="code">Code</label>
			<input type="text" name="code" placeholder="Enter a Code Name" value="">
		</p>
		<p>
			<label for="amount">Amount</label>
			<input type="number" name="amount" placeholder="Enter an Amount" value="">
		</p>
		<p>
			<label for="type">Type</label>
			<select name="type">
				<option value="">Pick a Type</option>
				<option value="percentage">Percentage</option>
				<option value="flat">Flat Rate</option>
			</select>
		</p>
		<p>
			<label for="starts">Start Date</label>
			<input type="date" name="starts" placeholder="dd/mm/yyyy" value="">
		</p>
		<p>
			<label for="expires">Expiry Date</label>
			<input type="date" name="expires" placeholder="dd/mm/yyyy" value="">
		</p>
		<input type="hidden" name="action" value="coupon_add">

		<p><button type="submit" class="ad-button">Save</button></p>
	</form>

{% include 'admin/partials/footer.twig' %}
